<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/home.css">
        <link rel="stylesheet" href="https://kit.fontawesome.com/418a283835.css" crossorigin="anonymous">
    </head>
    <body>
        <div id="app">
            <div id="inpform">
                <h1>TODO App</h1>
                <form action="/createtsk" method="POST">
                    <div id="fstlineform">
                        <label>Description <span style="color:red">*</span></label>
                        <input name="des" id="des" type="text" placeholder="What do you need to do?" required>
                    </div>
                    <div id="sndlineform">
                        <div>
                            <label>Category</label>
                            <select name="category" id="sel">
                                <option value="" disabled selected value>Choose a category</option>
                                <option value="School">School</option>
                                <option value="Work">Work</option>
                                <option value="Personal">Personal</option>
                            </select>
                        </div>
                        <div>
                            <label>Due Date <span style="color:red">*</span></label>
                            <input type="date" name="due" id="due" required>
                        </div>
                    </div>
                    <div id="btnlineform">
                        <button type="submit"><i class="fa-solid fa-plus"></i> Add Task</button>
                        <button type="submit" form="tasks" ><i class="fa-solid fa-trash"></i> Delete Task</button>
                    </div>
                </form>
            </div>
            <form id="tasks" action="/deletetsk" method="POST">
                <% for(let i of tasks) { %>
                    <div id="tsk">
                        <input type="checkbox" name="key" value="<%=i._id%>" id="">
                        <div id="abouttsk">
                            <p><%=i.about%></p>
                            <p><i class="fa-solid fa-calendar-days"></i> <%=i.due%></p>
                        </div>
                        <div id="tsk-cat">
                            <%=i.category%>
                        </div>
                    </div>
                <% } %>
                <!-- <button type="submit">sdfs</button> -->
            </form>
        </div>
        
        <!-- External button-->
        <script src="https://kit.fontawesome.com/418a283835.js" crossorigin="anonymous"></script>
        <script src="/home.js"></script>
    </body>
</html>